data
.DS_Store
finetuning/distilgpt2-finetuned-wikitext2
finetuning/distilgpt2-finetuned-withaction-ABCD
finetuning/gpt2-medium-finetuned-withaction-ABCD
finetuning/gpt2-medium-finetuned-noaction-ABCD